.toast {
    display: flex;
    position: relative;
    align-items: center;
    height: 48px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 3px 6px #000000;
}

.toast__close-icon {
    position: absolute;
    font-size: 24px;
    right: 8px;
}

.toast__icon {
    border-radius: 50%;
    font-size: 12px;
    margin: 0 8px;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
}

.toast--error .toast__icon {
    background-color: red;
    color: white;
}

.toast--error .toast__close-icon {
    color: red;
}