.form__body {
    display: flex;
}

.form__body .area .form__input {
    display: flex;
    flex-wrap: wrap;
}

.form__body .area .form__input .dropdown {
    width: 300px;
}

.form__body .area .form__input .field-label input {
    width: 300px;
}

.form__body .area .content__header {
    text-transform: uppercase;
}

.form__body .area .form__input .field-label,
.form__body .area .content__header {
    margin: 8px 16px;
}

#salary {
    text-align: right;
    padding-right: 40px;
}